# Workshop 1
Your very first notebook
<br>
Let's see some cool stuff from <b> python </b>

---
# range

In [28]:
a0 = range(10)
a1 = list(a0)
a2 = list(range(1, 14, 3))

print(f"\na0: {a0}")
print(f"\na1: {a1}")
print(f"\na2: {a2}")

a0: range(0, 10)

a1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

a2: [1, 4, 7, 10, 13]

---
# Array slices

In [29]:
a0 = list(range(10))

print(f"\na0: {a0}")
print(f"\na0[:2]: {a0[:2]}")
print(f"\na0[1:4]: {a0[1:4]}")
print(f"\na0[5:-2]: {a0[5:-2]}")
print(f"\na0[0:10:2]: {a0[0:10:2]}")
print(f"\na0[::-1]: {a0[::-1]}")

a0: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

a0[:2]: [0, 1]

a0[1:4]: [1, 2, 3]

a0[5:-2]: [5, 6, 7]

a0[0:10:2]: [0, 2, 4, 6, 8]

a0[::-1]: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

---
# In place if

In [30]:
a0 = True
a1 = 5 if a0 else 10

print(f"\na1: {a1}")

a1: 5

---
# In place for

In [31]:
a0 = [x * 2 for x in [1, 2, 3, 4, 5, 6, 7, 8, 9]]
a1 = [x + 1 for x in range(10) if x % 3 == 0]
a2 = [i + j for i in range(5) for j in range(5)]

print(f"\na0: {a0}")
print(f"\na1: {a1}")
print(f"\na2: {a2}")

a0: [2, 4, 6, 8, 10, 12, 14, 16, 18]

a1: [1, 4, 7, 10]

a2: [0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

---
# In place dict

In [32]:
def value_creator(i):
    return f"value{i}"
a0 = {i: value_creator(i) for i in range(10)}
print(f"\na0: {a0}")

a0: {0: 'value0', 1: 'value1', 2: 'value2', 3: 'value3', 4: 'value4', 5: 'value5', 6: 'value6', 7: 'value7', 8: 'value8', 9: 'value9'}

---
# Returning tuple

In [33]:
def divide(x):
    r = x % 2
    q = int(x / 2)
    return q, r

a0, a1 = divide(11) 
print(f"\na0: {a0}")
print(f"\na1: {a1}")

a0: 5

a1: 1

---
# enumerate, zip

In [34]:
a0 = [2, 5, 7, 8]
a1 = [1, 3, 5, 6]

print("\nenumerate:")
for index, i in enumerate(a0):
    print(f"index, i: {index}, {i}")

print("\nzip:")
for i, j in zip(a0, a1):
    print(f"i, j: {i}, {j}")

enumerate:
index, i: 0, 2
index, i: 1, 5
index, i: 2, 7
index, i: 3, 8

zip:
i, j: 2, 1
i, j: 5, 3
i, j: 7, 5
i, j: 8, 6

---
# map, sorted

In [35]:
def power(x):
    return 2 ** x

a0 = [2, 3, 5, 1, 4, 6, 0]
print(f"\na0: {a0}")
print(f"\nmap: {list(map(power, a0))}")
print(f"\nsorted: {sorted(a0)}")

a0: [2, 3, 5, 1, 4, 6, 0]

map: [4, 8, 32, 2, 16, 64, 1]

sorted: [0, 1, 2, 3, 4, 5, 6]

---
# expanding list and dict

In [36]:
def multiply(a, b, c, d, e):
    return a * b * c * d * e

def settings(a, c, b):
    if a and b and c:
        return "hoho"
    if a and b and not c:
        return "hahahaha"
    return "hehe"

a0 = [10, 2, 3, 5, 2]
a1 = {"a": True, "b": True, "c": False}
print(f"\nmultiply(*a0): {multiply(*a0)}")
print(f"\nsettings(**a1): {settings(**a1)}")

multiply(*a0): 600

settings(**a1): hahahaha

---
# numpy

In [48]:
import numpy as np

a0 = [[1, 2, 3, 4], [2, 5, 2, 6], [1, 1, 3, 5]]
a1 = np.array(a0)
print(f"\na1: {a1}")
print(f"\na1.shape: {a1.shape}")
print(f"\na1[:, 2]: {a1[:, 2]}")
print(f"\na1[[0, 2], [1]]: {a1[[0, 2], [1]]}")
print(f"\na1[[0, 2], [[0, 1], [2, 3]]]: {a1[[0, 2], [[0, 1], [2, 3]]]}")
print(f"\nnp.random.randint: {np.random.randint(5, size=10)}")

a1: [[1 2 3 4]
 [2 5 2 6]
 [1 1 3 5]]

a1.shape: (3, 4)

a1[:, 2]: [3 2 3]

a1[[0, 2], [1]]: [2 1]

a1[[0, 2], [[0, 1], [2, 3]]]: [[1 1]
 [3 5]]

np.random.randint: [0 1 2 1 3 1 2 4 3 2]

---
# pandas

In [49]:
import pandas as pd

data = [
    {"name": "big bang theory", "year": 2007},
    {"name": "friends", "year": 1994},
    {"name": "how i met your mother", "year": 2005},
    {"name": "modern family", "year": 2009},
    {"name": "two and a half man", "year": 2003},
    {"name": "silicon valley", "year": 2014},
]

df = pd.DataFrame(data)
df

                    name  year
0        big bang theory  2007
1                friends  1994
2  how i met your mother  2005
3          modern family  2009
4     two and a half man  2003
5         silicon valley  2014

In [50]:
query = df[df.year > 2005]
query

              name  year
0  big bang theory  2007
3    modern family  2009
5   silicon valley  2014

---
# This is a notebook file...
and this cell is actually like others... we can write either <b> code, markdown or raw </b> cells
<br>
and we have access to all of the <b> previous cells variables <b>

In [51]:
print(f"multiply(a0[-1], a2[-1], 1, 1, 1): {multiply(a0[-1][0], a2[-1], 1, 1, 1)}")

multiply(a0[-1], a2[-1], 1, 1, 1): 8

---
what happens if we change a0 and then run previous cell again?