The dataset includes several data wranglings. The most important issue is that the columns Xi which indicate the day should be rows instead of columns. Also the measurements should be columns instead of rows.

Also we can observe that there are some null values and some inconsistencies with some of the rows.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('weather.csv', index_col=0)

In [4]:
df.head()

   X  year  month            measure  X1  X2  X3  ... X25 X26 X27 X28 X29 X30 X31
0  1  2014     12   Max.TemperatureF  64  42  51  ...  59  50  52  52  41  30  30
1  2  2014     12  Mean.TemperatureF  52  38  44  ...  52  44  45  46  36  26  25
2  3  2014     12   Min.TemperatureF  39  33  37  ...  44  37  38  40  30  22  20
3  4  2014     12     Max.Dew.PointF  46  40  49  ...  58  31  34  42  26  10   8
4  5  2014     12     MeanDew.PointF  40  27  42  ...  43  29  31  35  20   4   5

[5 rows x 35 columns]

Column X is just an index, so let's drop it!

In [5]:
df.drop(['X'], axis=1, inplace=True)

In [114]:
df2 = df.pivot(index=['year', 'month'], columns='measure').stack(0).reset_index()
df2.rename(columns={'level_2': "day"}, inplace=True)
df2.columns.name = None

In [80]:
df2

     year  month  day  ... Min.VisibilityMiles PrecipitationIn WindDirDegrees
0    2014     12   X1  ...                  10            0.01            268
1    2014     12  X10  ...                   1            0.28            357
2    2014     12  X11  ...                   1            0.02            230
3    2014     12  X12  ...                   7               T            286
4    2014     12  X13  ...                  10               T            298
..    ...    ...  ...  ...                 ...             ...            ...
361  2015     11   X6  ...                  10            0.00            222
362  2015     11   X7  ...                  10            0.00            280
363  2015     11   X8  ...                  10            0.00            283
364  2015     11   X9  ...                  10            0.00            237
365  2015     12   X1  ...                   1            0.14            109

[366 rows x 25 columns]

In [115]:
dates = pd.to_datetime(df2.apply(lambda x: f"{x[0]}-{x[1]}-{x[2][1:]}", axis=1))
df2.insert(0, 'Date', dates)
df2.drop(columns=['year', 'month', 'day'], inplace=True)
df2.head()

        Date CloudCover  ... PrecipitationIn WindDirDegrees
0 2014-12-01          6  ...            0.01            268
1 2014-12-10          8  ...            0.28            357
2 2014-12-11          8  ...            0.02            230
3 2014-12-12          7  ...               T            286
4 2014-12-13          5  ...               T            298

[5 rows x 23 columns]

We can see in the above cell that some values in the `PrecipitationIn` column are set to *T* which probably mean NaN. We can subsitute them with 0 for that column:

In [116]:
df2['PrecipitationIn'].replace(['T','0'], inplace=True)

Let's go for columns with empty values:

In [118]:
df2.isna().any()

Date                         False
CloudCover                   False
Events                        True
Max.Dew.PointF               False
Max.Gust.SpeedMPH             True
Max.Humidity                 False
Max.Sea.Level.PressureIn     False
Max.TemperatureF             False
Max.VisibilityMiles          False
Max.Wind.SpeedMPH            False
Mean.Humidity                False
Mean.Sea.Level.PressureIn    False
Mean.TemperatureF            False
Mean.VisibilityMiles         False
Mean.Wind.SpeedMPH           False
MeanDew.PointF               False
Min.DewpointF                False
Min.Humidity                 False
Min.Sea.Level.PressureIn     False
Min.TemperatureF             False
Min.VisibilityMiles          False
PrecipitationIn              False
WindDirDegrees               False
dtype: bool

Let's fill in the empty values:

In [121]:
df2['Max.Gust.SpeedMPH'].unique()

array(['29', '28', '21', '23', '20', '10', '26', '30', '22', '25', '15',
       '40', '31', '38', '33', '32', '52', '24', '16', '39', '17', '43',
       '45', '44', '48', '49', '35', '37', '51', '41', '18', '94', '36',
       nan, '0', '12', '14'], dtype=object)

In [123]:
df2.fillna({'Events': 'Sunny', 'Max.Gust.SpeedMPH': '0'}, inplace=True)

In [127]:
df2.drop(columns=['Date', 'Events']).describe()

       CloudCover Max.Dew.PointF  ... PrecipitationIn WindDirDegrees
count         366            366  ...             366            366
unique          9             73  ...              58            220
top             6             61  ...            0.00            272
freq           57             16  ...             217              6

[4 rows x 21 columns]

In [130]:
numerical_cols = df2.columns.difference(['Date', 'Events'])

In [132]:
df2[numerical_cols] = df2[numerical_cols].apply(pd.to_numeric, errors='ignore')

In [135]:
df2.describe()

       CloudCover  Max.Dew.PointF  ...  PrecipitationIn  WindDirDegrees
count  366.000000      366.000000  ...       366.000000      366.000000
mean     4.707650       45.475410  ...         0.120546      200.081967
std      2.373206       18.317241  ...         0.327986       98.707393
min      0.000000       -6.000000  ...         0.000000        1.000000
25%      3.000000       32.000000  ...         0.000000      113.000000
50%      5.000000       47.500000  ...         0.000000      222.000000
75%      7.000000       61.000000  ...         0.070000      275.000000
max      8.000000       75.000000  ...         2.900000      360.000000

[8 rows x 21 columns]

As we can see in the cell above, `Mean.VisibilityMiles` has some rows with value -1 which is not a valid mean value. So let's change that:

In [137]:
df2.loc[df2['Mean.VisibilityMiles'] < 0, 'Mean.VisibilityMiles'] = 0

We can also observe that in some rows `Max.Humidity` is above 100% so let's fix that too:

In [138]:
df2.loc[df2['Max.Humidity'] > 100, 'Max.Humidity'] = 100

Let's check the statistics again:

In [139]:
df2.describe()

       CloudCover  Max.Dew.PointF  ...  PrecipitationIn  WindDirDegrees
count  366.000000      366.000000  ...       366.000000      366.000000
mean     4.707650       45.475410  ...         0.120546      200.081967
std      2.373206       18.317241  ...         0.327986       98.707393
min      0.000000       -6.000000  ...         0.000000        1.000000
25%      3.000000       32.000000  ...         0.000000      113.000000
50%      5.000000       47.500000  ...         0.000000      222.000000
75%      7.000000       61.000000  ...         0.070000      275.000000
max      8.000000       75.000000  ...         2.900000      360.000000

[8 rows x 21 columns]